<!DOCTYPE html>
{% load staticfiles %}
<head>
<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/novastranka.css' %}" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="{%static 'css/bootstrap.css' %}" rel="stylesheet">
<style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.11.2/jquery-ui.min.css' %}" />
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.11.2/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0;url=/stranke/">
{% endif %}
</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h3>Registracija novega potnika</h3>            
  </div>

    <form class='form-horizontal' role='form' action="." method="post">{% csrf_token %}
        <div class='form-group'>
        {{ form.as_p }}
        <button class="col-sm-offset-2 btn btn-default" type="submit">potrdi</button>
        </div>
    </form>

</div>
</body>
<script>
    $('p label').addClass('control-label col-sm-2');
    $('input').addClass('col-sm-9');
    $('.form-group p').addClass('row');
</script>


